<template>
  <footer>
    <div class="dark-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <h3>Visit Us</h3>
            <p>The Restaurant</p>
            <p>Food street</p>
            <p>Auckland CBD</p>
            <p>1010</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h3>Contact Us</h3>
            <p>Phone: 09 000 0000</p>
            <p>Email: email@email.com</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h3>Follow Us</h3>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
          </div>
          <div class="col-sm-3 col-xs-6">
            <h3>Opening Hours</h3>
            <p>Monday - Friday</p>
            <p>9am - 10pm</p>
            <p>Saturday - Sunday</p>
            <p>10am - 10pm</p>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            &copy; {{ year }} The Restaurant
          </div>
          <div class="col-xs-6 text-right">
            Built by Gagan
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  data () {
    return {
      year: new Date().getFullYear()
    }
  }
})
</script>
