<template>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
            @click="toggleClass"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar" />
            <span class="icon-bar" />
            <span class="icon-bar" />
          </button>
          <nuxt-link to="/" class="navbar-brand">
            The Restaurant
          </nuxt-link>
        </div>

        <div
          id="bs-example-navbar-collapse-1"
          :class="'collapse navbar-collapse ' + menuClass"
        >
          <ul class="nav navbar-nav navbar-right">
            <li class="">
              <nuxt-link @click.self.native="setClassEmpty" exact to="/">
                Home
              </nuxt-link>
            </li>
            <li class="">
              <nuxt-link @click.self.native="setClassEmpty" no-prefetch to="/about">
                About
              </nuxt-link>
            </li>
            <li>
              <nuxt-link @click.self.native="setClassEmpty" no-prefetch to="/menu">
                Menu
              </nuxt-link>
            </li>
            <li>
              <nuxt-link @click.self.native="setClassEmpty" no-prefetch to="/gallery">
                Gallery
              </nuxt-link>
            </li>
            <li>
              <nuxt-link @click.self.native="setClassEmpty" no-prefetch to="/contact">
                Contact
              </nuxt-link>
            </li>
            <!-- <li>
              <nuxt-link to="/404">
                Error
              </nuxt-link>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      menuClass: ""
    };
  },
  methods: {
    toggleClass() {
      this.menuClass = this.menuClass === "" ? "in" : "";
    },
    setClassEmpty() {
      this.menuClass = "";
    }
  }
});
</script>
