<template>
  <img
    v-lazyloadit
    :data-url="imgSrc"
    ref="img2load"
    src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
    :alt="imgAlt"
    class="lazyloadedimg"
  />
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  // name: "LazyImage",
  data() {
    return {
      // isIntersecting: false,
      // el: this.$refs.img2load
    };
  },
  props: {
    imgSrc: {
      type: String,
      default: ""
    },
    imgAlt: {
      type: String,
      default: ""
    }
  },
  methods: {
    // loadImage(el: HTMLElement) {
    //   const imageElement =
    //     el.nodeName === "IMG" ? (el as HTMLImageElement) : null;
    //   // const imageElement = Array.from(el.children).find(
    //   //   el => el.nodeName === "IMG"
    //   // );
    //   if (imageElement) {
    //     imageElement.addEventListener("load", () => {
    //       setTimeout(() => el.classList.add("loaded"), 100);
    //     });
    //     imageElement.addEventListener("error", () => console.log("error"));
    //     imageElement.src = this.imgSrc; // imageElement.dataset.url;
    //   }
    // },
    // handleIntersect(
    //   entries: IntersectionObserverEntry[],
    //   observer: IntersectionObserver
    // ) {
    //   entries.forEach(entry => {
    //     if (entry.isIntersecting) {
    //       this.loadImage(this.$refs.img2load as HTMLImageElement);
    //       observer.unobserve(this.$el);
    //     }
    //   });
    // },
    // createObserver(el: HTMLElement) {
    //   const options = {
    //     root: null,
    //     threshold: "0"
    //   };
    //   const observer = new IntersectionObserver(this.handleIntersect, options);
    //   observer.observe(el);
    // }
  },
  mounted() {
    // console.log(this.$refs);
    // if (window["IntersectionObserver"]) {
    //   this.createObserver(this.$refs.img2load);
    // } else {
    //   this.loadImage(this.$refs.img2load);
    // }
  }
});
</script>

<style scoped>
.lazyloadedimg {
  opacity: 0;
  transform: scale(0.99);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  transition-property: opacity, transform;
  will-change: transform;
}
.lazyloadedimg.loaded {
  opacity: 1;
  transform: scale(1);
}
</style>
