<template>
  <div class="grey-bg menu-grid">
    <div class="container">
      <div class="row">
        <div class="content text-center mb-2 mt-2">
          <h4>Discover</h4>
          <h2>Our Menu</h2>
        </div>
        <div class="grid">
          <div
            v-for="(item, idx) in foodCats"
            :key="item.name"
            :class="`grid-item item-${idx + 1}`"
          >
            <div class="overlay">
              <nuxt-link :to="`/menu#${item.name.toLowerCase()}`">
                <h3>{{ item.name }}</h3>
              </nuxt-link>
            </div>
            <LazyLoad
              :data-url="`/imgs/${item.name.toLowerCase()}.jpg`"
              :src="`/imgs/${item.name.toLowerCase()}.jpg`"
              :alt="item.name"
              :imgAlt="item.name"
              class="img"
              loading="lazy"
              :width="width"
              :height="height"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { foodCats, IMG_WIDTH, IMG_HEIGHT } from "../data/food-cats";
export default Vue.extend({
  data() {
    return {
      foodCats,
      width: IMG_WIDTH,
      height: IMG_HEIGHT
    };
  }
});
</script>
