<template>
  <div class="o-banner-section">
    <div class="bg">
      <div class="overlay" />
    </div>
    <div class="container">
      <div class="row">
        <div class="content text-center">
          <transition key="heading" name="heading" mode="out-in" :css="true">
            <h1 :key="'heading' + title">{{ title }}</h1>
          </transition>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    title: {
      type: String,
      default: "About Us"
    }
  }
});
</script>
<style scoped>
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-enter,
.heading-enter-to,
.heading-leave,
.heading-leave-to {
  transition: all 0.2s ease-in, opacity 0.12s ease-in;
  /* transform-origin: center center; */
  /* perspective-origin: center; */
}
.heading-enter,
.heading-leave-to {
  transform: scale(1) translate3d(0, 10px, 10px) rotateZ(0);
  opacity: 0;
}
.heading-enter-to,
.heading-leave {
  transform: scale(1) translate3d(0, 0, 10px) rotateZ(0);
  opacity: 1;
}

h1 {
  /* box-shadow: 0 0 10px 10px #000; */
  text-transform: capitalize;
  min-width: 200px;
}
</style>
