<template>
  <div>
    <AppHeader :class="'page-' + pageName" />
    <transition-group
      name="banner"
      tag="div"
      class="banner-wrapper"
      mode="in-out"
    >
      <PageBanner
        :class="{ 'slider-section': isHome, 'banner-section': !isHome }"
        key="'pagebanner'"
        :title="isHome ? 'The Restaurant' : pageName ? pageName : '404'"
      />
      <!-- <div key="homebanner" v-else class="slider-section">
        <div class="bg">
          <div class="overlay"></div>
        </div>
        <div class="container">
          <div class="row">
            <div class="content text-center">
              <h4>Welcome to</h4>
              <h1>The Restaurant</h1>
              <a href="#intro" class="btn btn-default">
                See more
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </transition-group>

    <Nuxt />
    <AppFooter />
  </div>
</template>
<script lang="ts">
import Vue from "vue";

const AppFooter = () => import("@/components/AppFooter.vue");
const AppHeader = () => import("@/components/AppHeader.vue");

export default Vue.extend({
  components: {
    AppHeader,
    AppFooter
  },
  head() {
    return {
      title: "Welcome"
    };
  },
  data() {
    return {};
  },
  computed: {
    isHome() {
      return this.$route.name == "index";
    },
    pageName() {
      return this.$route.name;
    }
  }
});
</script>
<style>
.banner-enter,
/* .banner-enter-active, */
.banner-enter-to,
.banner-leave,
/* .banner-leave-active, */
.banner-leave-to {
  transition: all 0.2s ease-in;
  /* transition-property: opacity scale; */
}
.page-enter,
/* .page-enter-active, */
.page-enter-to,
.page-leave,
/* .page-leave-active, */
.page-leave-to {
  transition: all 0.2s ease-in;
}

.banner-enter,
.banner-leave-to {
  transform: scale(0.99) translateX(0px) translateZ(100px);
  opacity: 0;
}
.banner-enter-to,
.banner-leave {
  transform: scale(1) translateX(0) translateZ(100px);
  opacity: 1;
}

.o-banner-section .content {
  transition: padding 0.2s ease-in;
}
/*
.o-banner-section .content h2 {
  transition: opacity 0.2s ease-in;
} */

.page-enter,
.page-leave-to {
  transform: scale(0.997) translateY(10px) translateZ(0);
  opacity: 0;
}
.page-enter-to,
.page-leave {
  transform: scale(1) translateY(0) translateZ(0);
  opacity: 1;
}

nav.navbar.navbar-default .navbar-nav a.nuxt-link-active {
  color: #f7ab1b;
}
</style>
