<template>
  <main>
    <!-- <PageBanner title="Not Found" /> -->

    <div class="grey-bg general page-content page-404">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div class="equal-cols-d-flex clearfix">
              <div class="col-md-12">
                <div class="text-center">
                  <h4>Lost!</h4>
                  <h1>Nothing here</h1>
                  <p>
                    Looks like you are lost and possibly feeling hungry.
                  </p>
                  <p>
                    Try
                    <nuxt-link to="/">
                      home
                    </nuxt-link>
                    page to find your way back or find delicious food on the
                    <nuxt-link to="/menu">
                      menu
                    </nuxt-link>
                    page.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({});
</script>
