<template>
  <main>
    <!-- <PageBanner title="About Us" /> -->

    <div class="grey-bg general page-content">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div class="equal-cols d-flex">
              <div class="col-md-12">
                <div class="text-center">
                  <h4>Who</h4>
                  <h1>About The Restaurant</h1>
                </div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam necessitatibus tenetur quo doloremque? Architecto
                  animi libero ex a maiores sed temporibus et non. Nisi
                  recusandae et deserunt aperiam repudiandae suscipit!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  repellendus labore, nam eum vel et error! Quae porro optio
                  temporibus pariatur architecto veniam perspiciatis tempora,
                  dicta ducimus! Maiores deserunt voluptates nesciunt soluta
                  iste commodi atque aliquam quibusdam. Odio, enim veniam!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                  quod totam libero suscipit atque placeat dolor magnam ex
                  laudantium ipsam eaque, ullam mollitia doloribus ut sit
                  obcaecati sequi in corrupti deserunt voluptate corporis at
                  beatae! Illo quos maiores, eius quaerat impedit, esse iusto
                  natus at enim voluptatum quas dolore voluptate ex id quasi
                  culpa minus eveniet dolorem nihil eum animi.
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                  Voluptates totam ex, consequuntur sit veniam fugit officia
                  beatae ullam. Deserunt, obcaecati?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi rem eveniet mollitia, qui veniam obcaecati natus
                  deleniti, fuga libero odit rerum. Recusandae, reprehenderit
                  reiciendis? Eum neque aliquam voluptatibus possimus earum,
                  facere vero autem veritatis at quos impedit repellendus,
                  praesentium accusantium tempore dolor quam eligendi nam quae
                  sapiente rerum laborum. Inventore reprehenderit odit vitae.
                  Neque amet eius praesentium magni assumenda, fugit quas et
                  laborum facilis, minima vero aut. Rem explicabo fugiat cumque
                  dolorum. Ipsa, molestias voluptatum aspernatur modi non rerum
                  minus distinctio vero dolore temporibus quis. Consequatur
                  natus sunt repudiandae nobis dolor. Quasi accusamus error
                  ducimus aut tempore earum, eligendi quos.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  head() {
    return {
      title: "About"
    };
  }
});
</script>
