<template>
  <main>
    <!-- <PageBanner title="Contact Us" /> -->

    <div class="grey-bg contact page-content">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div class="equal-cols d-flex">
              <div class="col-sm-6">
                <div class="text-center">
                  <h4>Where</h4>
                  <h1>Contact Us</h1>
                </div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam necessitatibus tenetur quo doloremque? Architecto
                  animi libero ex a maiores sed temporibus et non. Nisi
                  recusandae et deserunt aperiam repudiandae suscipit!
                </p>
                <p>123 Street, My city, Country 1010</p>
                <p>09 000 0000</p>
                <p>email@email.com</p>
              </div>
              <div class="col-sm-6">
                <div class="map">
                  <img
                    loading="lazy"
                    src="/imgs/map.png"
                    alt="Find Us"
                    class="img-responsive"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  head() {
    return {
      title: "Contact"
    };
  }
});
</script>
