<template>
  <main>
    <!-- <PageBanner title="Gallery" /> -->

    <div class="grey-bg general page-content page-gallery">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div class="gallery">
              <template v-for="n in 2">
                <a v-for="(img, idx) in images" :key="img + n + idx" href="#.">
                  <div class="overlay"></div>
                  <LazyLoad
                    :imgSrc="`/imgs/${img}.jpg`"
                    loading="lazy"
                    :imgAlt="img + 'image'"
                  />
                </a>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      images: [
        "food2",
        "food3",
        "food4",
        "lunch",
        "food9",
        "enjoy",
        "snacks",
        "food8",
        "desserts",
        "dinner",
        "food7",
        "food",
        "snacks",
        "hero",
        "dish",
        "food5",
        "food6"
      ]
    };
  },
  head() {
    return {
      title: "Gallery"
    };
  }
});
</script>
<style scoped>
.gallery .overlay {
  /* background-color: lawngreen; */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 36%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 36%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 36%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#00000000',
        endColorstr='#a6000000',
        GradientType=1
      ); /* IE6-9 fallback on horizontal gradient */
  opacity: 0.6;
}
</style>
