<template>
  <main>
    <div class="grey-bg general intro" id="intro">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div class="equal-cols d-flex">
              <div class="col-md-6 col-sm-7">
                <h4>Introduction</h4>
                <h2>About The Restaurant</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam necessitatibus tenetur quo doloremque? Architecto
                  animi libero ex a maiores sed temporibus et non. Nisi
                  recusandae et deserunt aperiam repudiandae suscipit!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  repellendus labore, nam eum vel et error! Quae porro optio
                  temporibus pariatur architecto veniam perspiciatis tempora,
                  dicta ducimus! Maiores deserunt voluptates nesciunt soluta
                  iste commodi atque aliquam quibusdam. Odio, enim veniam!
                </p>
              </div>
              <div class="col-md-6 col-sm-5 img-w100">
                <!-- v-lazyloadit
                  data-src="/imgs/food2.jpg" -->
                <LazyLoad
                  imgSrc="/imgs/food2.jpg"
                  class="img-responsive"
                  alt="Chef"
                  loading="lazy"
                  width="767"
                  height="767"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dark-bg general restaurant">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div class="equal-cols d-flex">
              <div class="col-md-6 col-sm-5 img-w100">
                <!-- v-lazyloadit
                  data-src="/imgs/enjoy.jpg" -->
                <LazyLoad
                  imgSrc="/imgs/enjoy.jpg"
                  class="img-responsive"
                  alt="Food"
                  loading="lazy"
                  width="767"
                  height="767"
                />
              </div>
              <div class="col-md-6 col-sm-7">
                <h4>Enjoy</h4>
                <h2>Our Food</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Aliquam necessitatibus tenetur quo doloremque? Architecto
                  animi libero ex a maiores sed temporibus et non. Nisi
                  recusandae et deserunt aperiam repudiandae suscipit!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                  repellendus labore, nam eum vel et error! Quae porro optio
                  temporibus pariatur architecto veniam perspiciatis tempora,
                  dicta ducimus! Maiores deserunt voluptates nesciunt soluta
                  iste commodi atque aliquam quibusdam. Odio, enim veniam!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <MenuGrid />
    <!-- <div class="grey-bg menu-grid">
          <div class="container">
            <div class="row">
              <div class="content text-center mb-2 mt-2">
                <h4>Discover</h4>
                <h2>Our Menu</h2>
              </div>
              <div class="grid">
                {foodCats.map((item, idx) => {
                  const num = idx + 1;
                  return (
                    <div class={`grid-item item-${num}`} key={item.name}>
                      <div class="overlay">
                        <Link href={`/menu#${item.name.toLowerCase()}`}>
                          <a>
                            <h3>{item.name}</h3>
                          </a>
                        </Link>
                      </div>
                      {/* <img
                        src={`/imgs/${item.name.toLowerCase()}.jpg`}
                        alt={item.name}
                        class="img"
                        loading="lazy"
                      /> */}
                      <Image
                        src={`/imgs/${item.name.toLowerCase()}.jpg`}
                        alt={item.name}
                        class="img"
                        loading="lazy"
                        layout="responsive"
                        width={item.img?.width ?? IMG_WIDTH}
                        height={item.img?.height ?? IMG_HEIGHT}
                      />
                    </div>
                  );
                })}
              </div>
            </div>
          </div>
        </div> -->

    <div class="order-food">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h4>Hungry?</h4>
            <h2>Order on the phone</h2>
            <h2>09 000 0000</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="grey-bg find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content text-center mb-2 mt-2">
              <h4>Find</h4>
              <h2>Visit Us</h2>
            </div>
            <div class="map">
              <!-- data-url="/imgs/map.png" -->
              <LazyLoad
                imgSrc="/imgs/map.png"
                alt="Find Us map"
                class="img-responsive"
                width="767"
                height="767"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from "vue";
// import { foodCats, IMG_WIDTH, IMG_HEIGHT } from "../data/food-cats";
export default Vue.extend({
  data() {
    return {};
  },
  head() {
    return {
      title: "Home",
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "The Restaurant is your source of amazing food and great time with friends and family. A website built with Nuxt.js"
        }
      ]
    };
  }
});
</script>
<style scoped>
.map img {
  width: 100%;
  height: auto;
}
</style>
