<template>
  <main>
    <!-- <PageBanner title="Our Menu" /> -->

    <div class="grey-bg general page-content restaurant-menu">
      <div class="container">
        <div class="row">
          <div class="padding">
            <div
              v-for="item in foodCats"
              :key="item"
              :id="item.toLowerCase()"
              class="menu-category"
            >
              <div class="text-center">
                <h4>Our</h4>
                <h2>{{ item }}</h2>
              </div>
              <div class="equal-cols d-flex">
                <div
                  class="menu-section col-sm-6"
                  v-for="n in 8"
                  :key="n + item"
                >
                  <div class="menu-item">
                    <div class="title-n-price">
                      <h3>{{ item }} Menu Item</h3>
                      <h5 class="price">$15.00</h5>
                    </div>
                    <div class="description">
                      <p>cheese, tomato, mushrooms, chilli</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      foodCats: ["Breakfast", "Lunch", "Snacks", "Dinner", "Desserts"]
    };
  },
  head() {
    return {
      title: "Menu"
    };
  }
});
</script>
